/* .App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/*********ADDITIONAL STYLING***********/

/*************Error Modal**************/
.hide {
	display: none;
}

/*************Buttons*****************/
.cancelBtn,
.dataServerBtn,
.addBtn {
	margin: 1.5%;
}

.editBtn,
.deleteBtn {
	margin: 2%;
}

/*************Edit Modal**************/
.editModal {
	position: absolute;
	height: 50%;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1050;
	display: block;
	outline: 0;
}

.form-control::placeholder {
	text-align: center;
}
